---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro'

---

<MainLayout title="Error 404 - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
          <h2>Whoops, We can't find that page :(</h2>
        </div>
        <div class="right-panel">
            <div class='right-panel-top'>
                <p>Error 404</p>
            </div>
            <Keybindings />

        </div>
    </div>
</MainLayout>

<script>
import { initHorizontalNavigation } from '../scripts/navigation';
import { initVerticalNavigation } from '../scripts/navigation';

initHorizontalNavigation();
initVerticalNavigation();

</script>
