---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Error 404 - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
          <h2>Whoops, We can't find that page :(</h2>
        </div>
        <div class="right-panel">
            <p>Error 404</p>
        </div>
    </div>
</MainLayout>
