---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');
const aboutContent = await import('../content/about.md');
---

<MainLayout title="Blogs - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
            <Fragment set:html={aboutContent.compiledContent()} />
        </div>
        <div class="right-panel">
            <p>Learn more about who I am</p>
        </div>
    </div>
</MainLayout>

