---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro'
import BlogFetcher from '../components/BlogFetcher.astro'
---

<MainLayout title="Blogs - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
            <BlogFetcher />
        </div>
        <div class="right-panel">
            <div class="right-panel-top">
            <p>These are all of my blogs</p>
            </div>

            <Keybindings />
        </div>
    </div>
</MainLayout>


<script>
import { initHorizontalNavigation } from '../scripts/navigation';
import { initVerticalNavigation } from '../scripts/navigation';

initHorizontalNavigation();
initVerticalNavigation();

</script>
