---
import MainLayout from '../layouts/MainLayout.astro';
const aboutContent = await import('../content/about.md');
---

<MainLayout title="About - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
            <Fragment set:html={aboutContent.compiledContent()} />
        </div>
        <div class="right-panel">
            <p>Learn more about who I am</p>
        </div>
    </div>
</MainLayout>

