---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');
---

<MainLayout title="Blogs - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
          <ul>
            {blogPosts.map(post => (
              <li>
                <a href={`/blogs/${post.slug}`}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                        <path d="M19 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h6a1 1 0 1 1 0 2H5v12h12v-6a1 1 0 1 1 2 0ZM14 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V5.414l-7.293 7.293a1 1 0 0 1-1.414-1.414L18.586 4H15a1 1 0 0 1-1-1Z"/>
                    </svg>
                    {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
        <div class="right-panel">

        </div>
    </div>
</MainLayout>

