---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro'
import FileFetcher from '../components/FileFetcher.astro'

---
<MainLayout title="Files - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
            <FileFetcher />
        </div>
        <div class="right-panel">
            <div class="right-panel-top">
                <p>These are all the files available for download</p>
            </div>

            <Keybindings />
        </div>
    </div>
</MainLayout>
