---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro'
import GithubLogo from '../components/GithubLogo.astro'
import LinkedInLogo from '../components/LinkedInLogo.astro'
import InstagramLogo from '../components/InstagramLogo.astro'
import RSSFeedLogo from '../components/RSSFeedLogo.astro'
import HyperLinkLogo from '../components/HyperLinkLogo.astro'
---

<MainLayout title="CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
            <h1 class="hey-there">Hey there! I'm Praanesh, and this is my space on the internet.</h1>
            <ul>
              <li>
                <a href="/blogs/about-me/" class="icon-link">
                  <HyperLinkLogo />
                    About me
                </a>
              </li>
              <li>
                <a href="https://github.com/CompileArtisan" class="icon-link">
                  <GithubLogo />
                    GitHub
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/praanesh-nair/" class="icon-link">
                  <LinkedInLogo />
                    Linkedin
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/praanesh_nair/" class="icon-link">
                  <InstagramLogo />
                    Instagram
                </a>
              </li>
              <li>
                  <a href="/rss.xml" class="icon-link">
                    <RSSFeedLogo />
                    My RSS Feed
                  </a>
                  <a href="https://aboutfeeds.com/" class="icon-link">
                    (
                  <HyperLinkLogo />
                    Learn More
                    )
                  </a>
              </li>
            </ul>
        </div>
        <div class="right-panel" id="description-panel">
          <div class="right-panel-top">
          <p>This is my Personal Website, inspired by the good old
            <a
            href="https://docs.oracle.com/cd/E20881_01/html/E20891/figures/mb1.png"
            class="right-panel-link">
              BIOS interface
            </a>
          </p>
            <div class="tip">
              <p>You can use your arrow keys to move around, just like it's your BIOS.</p>
            </div>
          </div>
          <Keybindings />
        </div>
    </div>

</MainLayout>

