---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro';
import HomePage from '../components/HomePage.astro';
import Icon from '../components/Icon';
import { getCollection } from 'astro:content';

const homeSections = (await getCollection('home')).sort((a, b) => 
  a.data.order - b.data.order
);

const sections = homeSections.map((section) => ({
  label: section.data.label,
  title: section.data.title,
  order: section.data.order,
  id: section.id, 
}));
---

<MainLayout title="CompileArtisan">
    <div class="main-content">
      <div class="left-panel scroller-container">
        <HomePage sections={sections} />
      </div>
        <div class="right-panel" id="description-panel">
          <div class="right-panel-top">
          <p>This is my Personal Website, inspired by the good old
            <a
            href="https://docs.oracle.com/cd/E20881_01/html/E20891/figures/mb1.png"
            class="icon-link">
              <Icon name="hyperlink" />
              BIOS interface
            </a>.
          </p>
          </div>
          <Keybindings />
        </div>
    </div>
</MainLayout>


<script>
import { initHorizontalNavigation } from '../scripts/navigation';

initHorizontalNavigation();

</script>
