---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="My Work">
    <div class="main-content">
        <div class="left-panel">
            <p>The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="right-panel">
            <p>A few among the best projects I have done</p>
        </div>
    </div>
</MainLayout>
