---
import MainLayout from '../layouts/MainLayout.astro';
import Keybindings from '../components/Keybindings.astro'
import FileFetcher from '../components/FileFetcher.astro'
import ProjectFetcher from '../components/ProjectFetcher.astro'
---

<MainLayout title="My Work - CompileArtisan">
    <div class="main-content">
        <div class="left-panel">
          <FileFetcher />
          <ProjectFetcher />
        </div>
        <div class="right-panel">
          <div class="right-panel-top">
            <p>A few among the best projects I have done</p>
          </div>
          <Keybindings />


        </div>
    </div>
</MainLayout>
