<div class="footer">
    This website is part of the <a href="https://amrita.town">amrita.town</a> webring.
    <a href="https://amrita.town/prev"> ← prev </a> | <a href="https://amrita.town/random"> ⚅ random </a> | <a href="https://amrita.town/next"> next → </a>
</div>
