---

import Icon from '../components/Icon.astro'
---

<!--For desktop-->
<div class="footer">
  This website is part of the <a href="https://amrita.town" class="icon-link"> <Icon name="hyperlink" /> amrita.town</a> webring.
    <a href="https://amrita.town/prev"> ← prev </a> | <a href="https://amrita.town/random"> ⚅ random </a> | <a href="https://amrita.town/next"> next → </a>
</div>

<!--For mobile-->
<div class="footer-mobile">
    <div>
    This website is part of the <a href="https://amrita.town">amrita.town</a> webring.
    </div>
    <div>
    <a href="https://amrita.town/prev"> ← prev </a> | <a href="https://amrita.town/random"> ⚅ random </a> | <a href="https://amrita.town/next"> next → </a>
    </div>

</div>
