<div class="right-panel-bottom">
<h3>Keybindings</h3>
    <div class="keybindings">
        <div class="keybinding">
            <span class="key">⇆</span>
            <span class="description">Select Screen</span>
        </div>
        <div class="keybinding">
            <span class="key">⇅</span>
            <span class="description">Select Item</span>
        </div>
        <div class="keybinding">
            <span class="key">esc</span>
            <span class="description">remove selection</span>
        </div>
    </div>
</div>
